.feed {
    padding: 10px;
}

.feed__title {
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.box__newPost {
    margin-bottom: 50px;
}

.box__newTextInput {
    width: 65%;
    margin: 0 auto;
    height: 160px;
    overflow: hidden;
}

.newTextInput {
    padding: 10px 25px;
    min-width: 100%;
    min-height: 100%;
    resize: none;
    display: block;
    outline: none;
    font-size: 18px;
}

.box__addPostBtn {
    width: 65%;
    margin: 15px auto 0;
    text-align: right;
}

.addPostBtn {
    font-size: 16px;
    border: none;
    padding: 15px 10px 15px 40px;
    transition: all .3s ease-in;
}