img {
  max-width: 100%;
}

body {
  background-color: #2b274c;
}

a {
  
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.btn {
  background-color: #6462fd;
  color: #fff;
}

.app-wrapper {
  display: grid;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  grid-template-areas: 
      "hd hd"
      "sd main";
}

.app-wrapper-content {
  grid-area: main;
  background-color: #403164;
}






   
